/** @format */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 70%;
  margin: 2rem auto;
  box-shadow: 5px 5px 16px #565656;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  /* background-color: #565656; */
  background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  object-fit: none;
  border-bottom: 1.5rem solid white;
}

header img {
  width: 12rem;
  border-radius: 50%;
  /* border: 6px dotted #f9bf28; */
  border: 6px dotted orange;
  padding: 0.1rem;
  position: relative;
  top: 4rem;
}

#background-strip {
  border-bottom: 1.5rem solid #565656;
}

header h2 {
  padding: 1rem 1.9rem;
  background-color: #f9bf28;
  font-size: 2.1rem;
  position: relative;
  top: 2.3rem;
  border-radius: 0.5rem;
  font-family: "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

#contact-info {
  display: flex;
  justify-content: center;
  /* align-content: space-around; */
  padding: 0.5rem;
  border-bottom: 2px solid #949494;
  flex-wrap: wrap;
}

main {
  /* height: 80vh; */
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 1;
  margin: 2rem;
}

.card {
  width: 100%;
  margin-bottom: 1rem;
  /* border: 1px solid red; */
}

.card img {
  width: 2rem;
}

.card h1 {
  display: inline;
  padding: 0.5rem;
  font-size: 2rem;
  opacity: 0.5;
}

.card p {
  margin-top: 1.5rem;
  text-align: justify;
}

#left-content {
  padding-right: 3rem;
  border-right: 2px solid #949494;
  height: max-content;
  width: 50%;
  overflow: none;
}

#right-content {
  padding-left: 3rem;
  border-left: 2px solid #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.skills table,
.education table {
  margin-top: 1rem;
  width: 100%;
}

.skills tr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.5rem;
}

input {
  -webkit-appearance: none;
  width: 15rem;
  height: 0.6rem;
  /* background: linear-gradient(to left, #f9bf28 , #ffb804 ); */
  background: linear-gradient(90deg, #f8d57b, #eca900);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;
}

.card ul {
  width: 100%;
  padding-left: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  text-align: justify;
}

.education table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.education th,
.education td {
  padding: 10px 5px;
  text-align: left;
}

@media (max-width: 1300px) {
  body {
    max-width: 100%;
    margin: 3rem 3rem;
    box-shadow: 5px 5px 16px #565656;
  }
  .skills tr {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  /* #right-content {
    padding-left: ;
  } */
  header h2 {
    padding: 1rem 1.9rem;
    background-color: #f9bf28;
    font-size: 1.5rem;
    position: relative;
    top: 2.3rem;
    border-radius: 0.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media (max-width: 750px) {
  body {
    max-width: 100%;
    margin: 0px;
  }
  main {
    flex-direction: column;
  }
  #right-content {
    width: 100%;
    padding-left: 0;
  }
  #left-content {
    width: 100%;
    border-right: none;
  }
    header h2 {
    padding: 1rem 1.9rem;
    background-color: #f9bf28;
    font-size: 1rem;
    position: relative;
    top: 2.3rem;
    border-radius: 0.5rem;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }
}
